/* Default Configs */
body {
  background-color: #fdfdf6;
  color: #303a52;
  margin: 0;
  padding-bottom: 100px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

/* Header Background */
header {
  background-color: #efecec;
}

/* Header Links List */
header ul {
  display: inline-flex;
}

header li {
  text-align: center;
  list-style-type: none;
}

header ul a {
  text-decoration: none;
  color: #303a52;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

/* Configs for User Experience */
header ul a:visited {
  color: #303a52;
  font-weight: bold;
}

header ul a:hover {
  font-size: 18px;
  transition-duration: 0.2s;
}

/* First Section (Club name with the banner) */
.name {
  background-image: url(Resources/First\ Section\ Img.jpg);
  background-size: 100% auto;
  background-position: center;
  width: 100%;
  height: 500px;
  font-size: 30px;
  text-align: center;
  line-height: 500px;
}

.name h1 {
  vertical-align: center;
  color: #fdfdf6;
  /* left, top, right and bottom */
  text-shadow: -1px 0 #6e3b3b, 0 1px #6e3b3b, 1px 0 #6e3b3b, 0 -1px #6e3b3b;
}

/* Second Section (Treading Topics) */
.trendingTopics {
  background-color: #efecec;
  width: 100%;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.trendingTopics h1,
h2 {
  margin-left: 7%;
}

.trendingTopics p {
  margin-left: 5%;
}

.ttList {
  list-style: none;
  width: 100%;
}

.trendings {
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
}

.mostPopular {
  margin-left: 20%;
}

.img {
  width: 80%;
  border-radius: 5px;
  margin: auto;
  display: flex;
}

.grafic {
  height: 500px;
  width: auto;
}

.ttListGrafic {
  display: inline-flex;
  justify-content: space-around;
}
